[Unit]
Description=Django Daphne Server
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/var/www/sites/site_django_ip2tor/django_ip2tor
ExecStart=/bin/bash -c '/var/www/sites/site_django_ip2tor/venv/bin/daphne django_ip2tor.asgi:application --port 8001 --proxy-headers'
StandardOutput=journal

[Install]
WantedBy=multi-user.target
