base58
celery[django,redis]
channels>=2.4.0
channels_redis
cryptography>=2.9
django_celery_results
django_extensions
django-celery-beat
django-filter>=2.2.0
django-money
django-redis
django-widget-tweaks
djangorestframework>=3.11.0
environs[django]
grpcio
lnd-rpc
pylightning
qrcode[pil]>=6.1
requests[socks]>=2.23.0
Django>=3.0.8
pymacaroons>=0.13.0
websockets
markdown
