base58>=2.0.1
celery[django,redis]>=4.4.7
channels>=2.4.0
channels_redis
cryptography>=3.0
django_celery_results
django_extensions
django-celery-beat
django-filter>=2.3.0
django-money
django-redis
django-widget-tweaks
djangorestframework>=3.11.1
environs[django]
grpcio
influxdb
lnd-rpc
pylightning
qrcode[pil]>=6.1
requests[socks]>=2.24.0
Django>=3.1
pymacaroons>=0.13.0
websockets
markdown
