{% load humanize %}

<table id="pos">
    <tr>
        <th>Purchase Order ID</th>
        <th>{{ object.id }}</th>
    </tr>
    <tr>
        <td>Created At</td>
        <td>{{ object.created_at }} ({{ object.created_at|naturaltime }})</td>
    <tr>
        <td>Status</td>
        <td>{{ object.get_status_display }}</td>
    </tr>
    <tr>
        <td>Message</td>
        <td>{% if object.message %}{{ object.message }}{% endif %}</td>
    </tr>
    <tr>
        <td>Total Price (Satoshi)</td>
        <td>{{ object.total_price_sat }} (Milli-Satoshi: {{ object.total_price_msat }})</td>
    </tr>
    <tr>
        <td>In Tax Currency</td>
        <td>
            {% if object.poi %}
                {{ object.poi.price_in_tax_currency }} @ {{ object.poi.tax_currency_rate2 }}
                (including {{ object.poi.tax_rate|floatformat }}% Tax: {{ object.poi.tax_in_tax_currency }})
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>In Info Currency</td>
        <td>{% if object.poi %}
                {{ object.poi.price_in_info_currency }} @ {{ object.poi.info_currency_rate2 }}{% endif %}</td>
    </tr>

    <tr>
        <th colspan="2">Items</th>
    </tr>
    <tr>
        <td colspan="2">
            <table id="pos">
                <tr>
                    <th>Product</th>
                    <!-- ToDo(frennkie) (mask this - unless paid!) -->
                    <th>IP</th>
                    <th>Name</th>
                    <th>Port</th>
                    <th>Status</th>
                    <th>Suspend After</th>
                    <th>Price (msat)</th>
                </tr>
                {% for item in object.item_details.all %}
                    <tr>
                        <td>
                            <a href="{% url 'v1:public_tor_bridges-detail' pk=item.product.id %}"
                               class="text-light">Tor Bridge</a>
                        </td>
                        <td>{{ item.product.host.ip }}</td>
                        <td>{{ item.product.host.name }}</td>
                        <td>{{ item.product.port }}</td>
                        <td>{{ item.product.get_status_display }}</td>
                        <td>{{ item.product.suspend_after }}</td>
                        <td>{{ item.price }}</td>
                    </tr>
                {% endfor %}
            </table>
    </tr>
    <tr>
        <th colspan="2">
            Lightning Invoices
        </th>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr>


                    {% if object.ln_invoices.all|length_is:"0" %}
                        <td>Not ready yet</td>
                    {% elif object.ln_invoices.all|length_is:"1" %}
                        {% include "lninvoice/purchaseorderinvoice_snippet.html" with object=object.ln_invoices.first %}
                    {% else %}
                        {% for ln_invoice in object.ln_invoices.all %}
                            {% include "lninvoice/purchaseorderinvoice_snippet.html" with object=ln_invoice %}
                        {% endfor %}
                    {% endif %}
                </tr>
            </table>
        </td>
    </tr>
</table>