{% extends "charged/base.html" %}

{% load i18n humanize %}

{% block title %}
    {# Translators: Title on Main Page #}
    {% trans "Purchase Order Detail View" as title %}
    {{ title }}
{% endblock %}

{% block css %}
    <style>
        #pos {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 780px;
        }

        #pos td, #pos th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #pos tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #pos tr:hover {
            background-color: #ddd;
        }

        #pos th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #3e88af;
            color: white;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">

        <table id="pos">
            <tr>
                <th colspan="2">Purchase Order</th>
            </tr>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>

            <tr>
                <td>ID</td>
                <td>{{ object.id }}</td>
            </tr>
            <tr>
                <td>Created At</td>
                <td>{{ object.created_at }} ({{ object.created_at|naturaltime }})</td>
            <tr>
                <td>Status</td>
                <td>{{ object.get_status_display }}</td>
            </tr>
            <tr>
                <td>Total Price (Milli-Satoshi)</td>
                <td>{{ object.total_price_msat }}</td>
            </tr>

            <tr>
                <td>Total Price (Satoshi)</td>
                <td>{{ object.total_price_sat }}</td>
            </tr>

            <tr>
                <td colspan="2">Item(s):</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table>
                        <tr>
                            <th>Product</th>
                            <!-- ToDo(frennkie) (mask this - unless paid!) -->
                            <th>IP</th>
                            <th>Name</th>
                            <th>Port</th>
                            <th>Status</th>
                            <th>Quantity</th>
                            <th>Price (msat)</th>
                        </tr>
                        {% for item in object.item_details.all %}
                            <tr>
                                <td>Tor Bridge</td>
                                <td>{{ item.product.host.ip }}</td>
                                <td>{{ item.product.host.name }}</td>
                                <td>{{ item.product.port }}</td>
                                <td>{{ item.product.get_status_display }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price }}</td>
                            </tr>
                        {% endfor %}
                    </table>
            </tr>

            <tr>
                <td colspan="2">
                    <table>
                        <tr>
                            <th>Lightning Invoice</th>
                        </tr>
                        <tr>
                            {% if object.ln_invoices.all|length_is:"1" %}
                                <td>
                                    {{ object.ln_invoices.first.id }}:
                                    <a href="{% url 'charged:ln-invoice-detail' pk=object.ln_invoices.first.id %}">
                                        {{ object.ln_invoices.first }}</a>
                                </td>
                            {% else %}
                                <td>Not ready yet</td>
                            {% endif %}
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>
{% endblock %}